body {
    margin: 12% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFBEB;
}

h1{
    font-family: "Karla", sans-serif;
    color: #111827;
    padding-bottom: 0;
    margin-bottom: 0;
}

p{
    font-family: "Karla", sans-serif;
    color:#374151;
}

#main-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    padding: auto 100px;
    border-bottom: 2px solid #374151;
}

#container{
    width: 50%;
    padding: 0%;
    
}

.p-fields{
    display:flex;
    justify-content:space-between;
    padding: 0;
    margin: 0;
}

button{
    color:#ffffff;
    background-color: #E11D48;
    font-family: "Karla", sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    align-items: start;
    margin: 20px 0px 20px 0px;
    width: 50%;

}
.password{
    background-color: #273549;
    font-family: "Karla", sans-serif;
    padding: 0px;
    border-radius: 5px;
    border: none;
    align-items: start;
    width: 14rem;
}

.pbtn_text{
   color:#F43F5E;
   font-weight: 400;
}

hr{
    display: flex;
    width: 25%;
    background-color:#9CA3AF;
}